header{
    background-image: url(img/wall.png);
}

body{
    background-image: url(img/cork.png);
}

h1{
    font-family: "Edu TAS Beginner", cursive;
}
.card-Text{
    font-family: "Sometype Mono", monospace;
}

.container{
    max-width: 1200px;
}